*, *::after, *::before {
    margin:0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

*:root {
    --veryLight-grey: #f6f6f6;
    --light-grey: #EBD5D5;
    --grey: #707070;
    --almost-black: #343434;
    --very-dark-blue: #09092B;
    --dark-blue: #05084A;
    --dark-red: #AF3C3C;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.button {
    padding: .45em .5em;
    background: var(--light-grey);
    cursor: pointer;
    transition: opacity .3s;
}

.button:hover {
    opacity: .7;
}

.hero {
    height: 60vh;
    background: url('./Foto-hero.jpg') no-repeat 0 -10rem var(--very-dark-blue);
    background-size: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title {
    color: var(--veryLight-grey);
    text-shadow: 0 5px 1px var(--dark-red);
    font-size: 2.5rem;
}

.navbar {
    display: flex;
    padding: 1.5em 1em;
    background: linear-gradient(45deg, var(--very-dark-blue), var(--dark-blue));
    justify-content: space-around;
}

.navbar__icon{
    width: 3rem;   
}

.navbar__search-div {
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid var(--grey);
    align-self: center;
}

.navbar__input-text {
    padding: .8em .5em;
    font-size: .9rem;
    font-weight: 800;
    background: var(--dark-blue);
    color: var(--veryLight-grey);
    outline: none;
}

.navbar__input-text::placeholder {
    color: var(--grey);
    font-size: .9rem;
    font-weight: 800;
}

.ham-menu{
    position: relative;
    align-self: center;
    width: 1.5rem;
    height: .2rem;
    background-color:var(--veryLight-grey);
    border-radius: 25px;
}

.ham-menu::after{
    content: '';
    position: absolute;
    align-self: center;
    width: 1.5rem;
    height: .2rem;
    top: .5rem;
    left: 0;
    background-color:var(--veryLight-grey);
    margin-right: 2rem;
    border-radius: 25px;
}

.ham-menu::before{
    content: '';
    position: absolute;
    align-self: center;
    width: 1.5rem;
    height: .2rem;
    top: -.5rem;
    left: 0;
    background-color:var(--veryLight-grey);
    margin-right: 2rem;
    border-radius: 25px;
}

.navbar__list {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li-item {
    display: none;
    list-style:none;
    font-weight: 700;
    font-size: 1.4rem;
}

.li-item a{
    color: var(--veryLight-grey);
    text-decoration: none;
    width: 100%;
}

.li-separator {
    position: relative;
}

.li-separator::after {
    content:'|';
    position:absolute;
    top: -1.9rem;
    left: -2.3rem;
    color: var(--veryLight-grey);
    font-family: serif;
    font-size: 4rem;
    font-weight: 100;
}

.li-separator::before {
    content:'|';
    position:absolute;
    top: -1.9rem;
    right: -2.3rem;
    color: var(--veryLight-grey);
    font-family: serif;
    font-size: 4rem;
    font-weight: 100;
}

.phone-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.phone-menu ul{
    list-style: none;
    width: 100%;
}

.phone-menu a {
    display: block;
    color: var(--veryLight-grey);
    padding: .3em .5rem;
    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid var(--grey);
    background: linear-gradient(45deg, var(--very-dark-blue), var(--dark-blue));
}